
<div id="loading-overlay">
    <div class="cls-spinner" >
        <div class="cls-circle cls-spin"></div>
    </div>
</div>
<div id="main-body" class="container border">
    <div class="container pb-2 pt-4">
        <nav class="navbar navbar-dark bg-dark">
            <div class="navbar-brand"> Visualization of smart parking data</div>
        </nav>
    </div>
    <div class="container">
        <div class="container pb-2">
            <div class="row border justify-content-md-left pt-2 pb-2">
                <div class="col-3 pl-1">
                    <button id="btn-load" class="btn btn-primary" type="button">
                        LOAD PARKING DATA
                    </button>
                </div>
                <div class="col-6 pl-0">
                    <button id="btn-next" class="btn btn-primary" type="button">
                        NEXT FIVE DOCUMENTS  
                    </button>
                    <span class="text-danger pl-2">{{message}}</span>
                </div>    
            </div>
        </div>
        <table class="table table-sm" >
            {{#if items}}
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Spot</th>
                    <th scope="col">Plate</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col" class="text-center">Image</th>
                </tr>
            </thead>
            {{/if}}
            <tbody>
                {{# each items }}
                    <tr >
                        <th scope="row">{{math @index "+" 1}}</th>
                        <td class="pl-2">{{this.spot}}</td>
                        <td>{{this.text}}</td>
                        <td>{{this.time_stamp}}</td>
                        <td class="text-center"><img src="{{this.image}}" class="img-thumbnail img-fluid" style="max-height:200px" alt="License plate image"></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>